<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" verbose="5">
  <test thread-count="2" name="Test" parallel="true">
	
	<parameter name="username" value="Meenu"></parameter>
	<parameter name="password" value="Meenu@1996"></parameter>
	
    <classes>
      <class name="testcases.TC02_LoginToBookStore"/>
      <class name="testcases.TC01_Handle_Alerts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
